body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: url('/images/Ononoki.jpg') no-repeat center center fixed;
    background-size: cover; /* Cover the entire screen without stretching */
    color: #333;
    transition: background-color 0.5s ease; /* Smooth transition for background color change */
}

h1 {
    color: #026670;
    text-align: center;
    animation: fadeIn 2s ease-out; /* Fade-in effect for the header */
}

button {
    background-color: #9f5f80;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pop 0.5s ease-out; /* Pop effect for the button */
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Keyframes for pop animation */
@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
